section{
width: 100%;
}
a{
  text-decoration: none;
}
h2{
  color:#5B5B5B;
  text-align: center;
  
}
h2::before ,h2::after{
  vertical-align: middle;
  position: relative;
  bottom: 2px;
  content: "";
  display: inline-block;
  height: 12px;
  width: 426px;
  background: repeating-linear-gradient(45deg, 
  #fefefe 0%, 	#D0D0D0 0%, 
  #e9e4e4 5%, #d0d0d062 10%);
  background-size:20px 20px; 
}
h3{
  margin:5px 0 15px ;
  font-size: 16px;
  font-weight: bold;
  color:#3C3C3C;
}
span{
  font-size: 13px;
  color: #696969;
}
em{
  font-size: 18px;
  color: red;
  margin: 0 5px;
  font-style:normal
}
.container{
  margin:auto;
  max-width: 980px;
  overflow:hidden; 
}
.row{
  display: flex;
  width: 180%;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}
.silde-btn{
  width:980px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom:50%;
  z-index: 289;
}
.silde-btn button{
  color:#d5d5d5;
  font-size: 14px;
  outline: none;
  width:30px;
  height:30px;
  background-color:#5b5b5b91;
  border:2px #F8F8F8 none;
  border-radius: 20px;
}
.silde-btn button:hover{
  color:#e8e8e8;
  background-color:#5b5b5bbf;
}
.silde-btn button i{
 text-align: center;
}

.card-item{
  width: 196px;
  box-sizing: border-box;
  padding: 0 10px;
  
}

.card-pic{
  width: 100%;
  height: 150px;
  background: #d7d7d7; 
  overflow:hidden;
}
.card-txt{
  background:#F8F8F8;
  padding: 10px;
}
.card-txt .price,.card-txt .size{
 display: flex;
 justify-content: space-between;
}
.price{
  margin-top: 5px;
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}